* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background: #0d0500;
  color: #261f01;
}
.container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  gap: 20px;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
.logo h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #d4a574;
}
.logo p {
  color: #a0a0a0;
  font-size: 1rem;
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.card {
  background: #201602;
  border: 2px solid #221901;
  border-radius: 8px;
  padding: 20px;
  color:#221901
}
.card h2 {
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: #d4a574;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ffccaa;
  border-radius: 4px;
  background: #ffce9b;
  color: #281e01;
  font-size: 1rem;
  outline: none;
}
input:focus {
  border: 2px solid #d4a574;
  background: #ffce9b;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background: #8b6f47;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background: #a0845a;
}
ul {
  list-style: none;
  margin-top: 15px;
}
li {
  padding: 12px;
  border-radius: 4px;
  background: #333;
  margin-bottom: 10px;
  border: 1px solid #444;
  color: #e0e0e0;
}
#mensagem {
  margin-top: 10px;
  text-align: center;
  color: #d4a574;
  font-weight: bold;
}
.hidden {
  display: none;
}
.link {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  color: #d4a574;
  text-decoration: underline;
}